/* ===============================
   VARIABLE MEDIA QUERIES
   =============================== */

@tablet: ~"only screen and (max-width: 768px)";
@mobile: ~"only screen and (max-width: 320px)";
@media only screen and (min-width: 1140px);

/* ===============================
   Default
   =============================== */

body {
  background-color: @color-swatch1;
  background-image:image('/images/texture-background.png');
  margin: 0;
  padding: 0;
  font-family:@font-swatch5-font-family;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
  @media only screen and (min-width: 1140px) {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
    }
}

a {
  font-family:@font-swatch2-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  color:@color-swatch3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0 0 10px;
}

h1 {
  font-family:@font-swatch1-font-family;
  font-weight: @font-swatch1-font-weight;
  color:@font-swatch1-color;
  line-height:@font-swatch1-line-height;
  letter-spacing: @font-swatch1-letter-spacing;
  font-size: @font-swatch1-font-size;
}

h2
{
  font-family:@font-swatch2-font-family;
  font-size: @font-swatch2-font-size;
  font-weight: @font-swatch2-font-weight;
  line-height:@font-swatch2-line-height;
  color: @font-swatch2-color;
  letter-spacing: @font-swatch2-letter-spacing;
}

h3
{
  font-family:@font-swatch3-font-family;
  font-size:@font-swatch3-font-size;
  font-weight: @font-swatch3-font-weight;
  color: @font-swatch3-color;
  line-height:@font-swatch3-line-height;
  letter-spacing: @font-swatch3-letter-spacing;
}

h4
{
  font-family:@font-swatch4-font-family;
  font-size:@font-swatch4-font-size;
  font-weight:@font-swatch4-font-weight;
  line-height:@font-swatch4-line-height;
  color:@font-swatch4-color;
  letter-spacing: @font-swatch4-letter-spacing;
}

p
{
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
}

blockquote {
    margin: 30px 0;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height: @font-swatch5-line-height;
    color: darken(@font-swatch5-color,10%);
}
  blockquote:before {
  font-family: georgia;
  color: @color-swatch2;
  content:open-quote;
  font-size:4em;
  line-height:.1em;
  margin-right:.1em;
  vertical-align:-.4em;
}
  blockquote p, ol, li, ul {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
}


/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 10px 0 20px 0;
}

body.edit .widget.navigation, body.edit .widget.extendednavigation {
 overflow: visible;
}

/* ===============================
   HEADER
   =============================== */

.header-top-border {
  height: 14px;
  width: 100%;
  background-color: @color-swatch5;
  background-image: image('/images/header-top-boder.png');
  background-repeat: repeat-x;
}

.header-bottom-border {
  height: 14px;
  width: 100%;
  background-color: @color-swatch5;
  background-image: image('/images/header-bottom-boder.png');
  background-repeat: repeat-x;
}

header {
 .companyheader {
        padding: 30px 0;
        @media @mobile {
            padding: 20px 0 10px;
        }
        .logo, .companyname {
            text-align: center;
        }
        .companyname a {
            display: block;
            font-family: @font-swatch10-font-family;
            font-weight: @font-swatch10-font-weight;
            color: @font-swatch10-color;
            line-height: @font-swatch10-line-height;
            letter-spacing: @font-swatch10-letter-spacing;
            font-size: @font-swatch10-font-size;
            padding: 10px 8px 8px;
            -webkit-mask-image: image('/images/text-texture.png');
            -moz-mask-image: image('/images/text-texture.png');
            -o-mask-image: image('/images/text-texture.png');
            mask-image: image('/images/text-texture.png');
            &:hover {
                text-decoration: none;
            }
            @media @mobile {
                font-size: bkscale(@font-swatch10-font-size,0.8);
                line-height: bkscale(@font-swatch10-line-height,0.8);
                padding-bottom: 20px;
            }
        } 

    }/* end companyheader */

    .widget.content {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        @media @mobile {
            width: 100%;
        }
    }

    .clicktocall {
        text-align: center;
        margin-top: 20px;
        @media @mobile {
            margin-bottom: 60px;
        }
            a {
                border: 2px solid @color-swatch3;
                padding: 10px 13px;
                font-family: @font-swatch5-font-family;
                font-size: @font-swatch5-font-size;
                color: @font-swatch5-color;
                    &:hover {
                        color: @color-swatch3;
                        text-decoration: none;
                    }
            }
    } /* end clicktocall */

}   /* end header */


/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */

.widget.menusections {
    text-align: center;
    padding: 40px 0 16px;
    min-height: 30px;
    ul {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0;
        @media @tablet {
            /* Hidden until nav icon is clicked */
            display: none;
            /* Then these styles are applied */
            width: 100%;
            margin: 0;
            background-color: @color-swatch1;
            border-bottom: 1px dotted @color-swatch6;
        }

        /* ALIGN CENTER */
        &.align-center {
            li {
                text-align: center;
                &:hover {
                    li {
                        text-align: center;
                    }
                }
            }
        }
        /* ALIGN LEFT */
        &.align-left {
            li {
                text-align: left;
                &:hover {
                    li {
                        text-align: left;
                    }
                }
            }
        }
        /* ALIGN RIGHT */
        &.align-right {
            li {
                text-align: right;
                &:hover {
                    li {
                        text-align: right;
                    }
                }
            }
        }
        li {
            padding: 0 15px;
            float: left;
            display: block;
            padding-right: 10px;
            @media @tablet {
                width: 100%;
                padding: 1em 0;
                border-bottom: 1px dotted @color-swatch6;
            }
            &:last-child {
                @media @tablet {
                    border-bottom: 0;
                }
            }

            a {
                display: block;
                font-family:@font-swatch6-font-family;
                font-size:@font-swatch6-font-size;
                font-weight: @font-swatch6-font-weight;
                color: @font-swatch6-color;
                line-height:@font-swatch6-line-height;
                letter-spacing: @font-swatch6-letter-spacing;
                &:hover {
                    color: @font-swatch6-color-hover;
                    text-decoration: none;
                }
                &:after {
                    content: "/";
                    font-size: 1.1em;
                    padding-left: 10px;
                    position: absolute;
                    color: @color-swatch4;
                    @media @tablet {
                        display: none;
                    }
                }
            }
            &:last-child a:after {
                            content: "";
            }
        }
    }
    a {
            &.pull {
                display: none;
                @media @tablet {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 1px;
                    &:after {
                        content:"";
                        background: image('/images/nav-icon.png') no-repeat;
                        background-position: center;
                        width: 51px;
                        height: 30px;
                        top: 0;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        background-color: @color-swatch6;
                        display: inline-block;
                        position: absolute;
                        border: none;
                        -webkit-border-radius: 0 0 5px 5px;
                        -moz-border-radius: 0 0 5px 5px;
                        border-radius: 0 0 5px 5px;
                        -webkit-box-shadow: 0px 3px 0px darken(@color-swatch6,5%);
                        -moz-box-shadow:    0px 3px 0px darken(@color-swatch6,5%);
                        box-shadow:         0px 3px 0px darken(@color-swatch6,5%);
                    }
                }
            }
        }
}


/* ===============================
   MENU
   =============================== */

.widget.menu {
    .main {
            @media @tablet {
                padding: 10px 0;
            }

            ol, li { /* removes list-style on sections and items */
                list-style: none;
                padding: 0;
                margin: 0;
            } 

            .menu-subsection {
                margin-top: 2em;
            }

        /* SECTION AND SUB-SECTION HEADERS */

            .menu-header, .menu-section-header {
                margin-bottom: 2em;
                text-align: center;
                h1 { 
                    font-family:@font-swatch1-font-family;
                    font-weight: @font-swatch1-font-weight;
                    color:@font-swatch1-color;
                    line-height:@font-swatch1-line-height;
                    letter-spacing: @font-swatch1-letter-spacing;
                    font-size: @font-swatch1-font-size;
                    -webkit-mask-image: image('/images/text-texture.png');
                    -moz-mask-image: image('/images/text-texture.png');
                    -o-mask-image: image('/images/text-texture.png');
                    mask-image: image('/images/text-texture.png');  
                }
                h2 {    
                    color: @color-swatch4;
                    position: relative;
                    text-align: center;
                    padding: 0.5em; 
                    margin: 0 auto;
                    -webkit-mask-image: image('/images/text-texture.png');
                    -moz-mask-image: image('/images/text-texture.png');
                    -o-mask-image: image('/images/text-texture.png');
                    mask-image: image('/images/text-texture.png');   
                } /*end h2 */

                p { /* menu-availability, menu-description and menu-section-description */
                    padding: 0; 
                }

            } /*end menu-header and menu-section-header */


        /* ITEMS */

            .menu-items, .menu-section-items {
                -moz-column-count: 2;
                -moz-column-gap: 50px;
                -moz-column-rule-color: rgba(0, 0, 0, 0.2);
                -moz-column-rule-style:  dotted;
                -moz-column-rule-width:  1px;

                -webkit-column-count: 2;
                -webkit-column-gap : 50px;
                -webkit-column-rule-color:  rgba(0, 0, 0, 0.2);
                -webkit-column-rule-style: dotted ;
                -webkit-column-rule-width:  1px;

                @media @mobile { 
                   -moz-column-count: 1;
                   -moz-column-gap: 50px;
                   -webkit-column-count: 1;
                   -webkit-column-gap : 50px;
                }

                
                li { /* menu-item and menu-section-item */
                    position: relative;
                    display: block;
                    padding-bottom: 2em;
                    @media @mobile { 
                        margin-bottom: 1.5em;
                        padding-bottom: 1.5em;
                    }
                    &.menu-item-promoted {
                        background-color: hsla(hue(@color-swatch3), saturation(@color-swatch3), lightness(lighten(@color-swatch3,1%)), 0.5); 
                        border: none;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        padding: 1.5em 1em 0em 1em;
                        margin-bottom: 2.5em;
                        border: none;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        h3 {
                            width: auto;
                        }
                        &:after {
                            content: image('/images/star.png');
                            font-size: 2em;
                            position: absolute;
                            top: -28px;
                            display: block;
                            z-index: 9999999;
                            right: 22px;
                            color: @color-swatch6;
                        }
                    }/* end menu-item-promoted */

                    .inner-item {
                        display: inline-block;

                        h3 { /* menu-item-name */  
                            padding: 0 8px 0 0;
                            float: left;
                        }
                        img { /* menu-item-image */
                            display: none;
                            border: none;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            width: 100%;
                            margin: 15px 0;
                        }
                        .menu-item-price p {   /* standard-price */
                            font-family:@font-swatch3-font-family;
                            font-size:@font-swatch3-font-size;
                            font-weight: @font-swatch3-font-weight;
                            line-height:@font-swatch3-line-height;
                            color:@font-swatch5-color;
                            letter-spacing: @font-swatch3-letter-spacing;
                            padding: 0px;
                            margin: 0;
                            width: auto;
                            display: inline-block;
                        }
                        p { /* item-description */
                            font-family:@font-swatch5-font-family;
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color:@font-swatch5-color;
                            letter-spacing: @font-swatch5-letter-spacing;
                            float: left;
                            width: 100%;
                            margin: 0 0 0.5em 0;
                            padding: 0;
                        }
                        h4  { /* nutritional-title for section and subsection */
                            font-family:@font-swatch5-font-family;
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color: @color-swatch6;
                            letter-spacing: @font-swatch5-letter-spacing;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-item-nutritional-prop { 
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color: @font-swatch5-color;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-section-item-dietary-props {
                            float: left;
                            width: 100%;
                            margin-top: 5px;
                            padding: 0;
                            .dietary-icon {
                                background-color: @color-swatch6;
                                width: 25px;
                                height: 25px;
                                border: 0;
                                -webkit-border-radius: 100px;
                                -moz-border-radius: 100px;
                                border-radius: 100px;
                                background-repeat: no-repeat;
                                background-size: 19px;
                                background-position: center;
                                display: inline-block;
                            }
                            .vegetarian-icon {
                                &:after { 
                                content: "v";
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                padding-left: 8px;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch1;
                                }
                            }
                            .glutenFree-icon {
                                &:after { 
                                content: "gf";
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                padding-left: 5px;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch1;
                                }
                            }
                            .nutFree-icon {
                                &:after { 
                                content: "nf";
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                padding-left: 5px;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch1;
                                }
                              }
                            .dairyFree-icon {
                                &:after { 
                                content: "df";
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                padding-left: 5px;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch1;
                                }
                              }
                        } /* end menu-section-item-dietary-props */                        

                        .menu-item-description, .menu-section-item-description {
                            margin-bottom: 0.5em;
                        }

                    } /* end inner-item */

                } /* end li */

            } /* end ol */  

             .menu-section.menu-item-promoted { /* PROMOTED SUB-SECTION: ol.menu-subsection > li.menu-section.menu-item-promoted */  
                border: 2px solid @color-swatch6;
                padding: 0 2em 0;
                margin-bottom: 2em;
                position: relative;
                &:before {
                   content: " ";
                   position: absolute;
                   top: 3px;
                   left: 3px;
                   right: 3px;
                   bottom: 3px;
                   border: 2px dotted @color-swatch6;
               }
                @media @mobile {
                    padding: 0 2em 0;
                }
                .menu-section-header {
                    margin: 20px 0;
                }
            } /* end PROMOTED SUB-SECTION */

            .menu-info {
                display: inline-block;
                width: 100%;
                text-align: center;
                margin: 2em 0;
                padding: 1em;
                border-top: 3px dashed @color-swatch3;
                border-bottom: 3px dashed @color-swatch3;

                p { /* menu-note */
                  float: left;
                  width: 100%;
                  padding: 0;
                }

                dl { /* menu-dietary-key */
                  float: left;
                  width: 100%;
                  margin: 5px 0;
                    dt, dd {
                        display: inline-block;
                    }
                    dt { /* dietary-icon */
                        vertical-align: top; 
                        background-color: lighten(@color-swatch6,10%);
                        width: 25px;
                        height: 25px;
                        border: 0;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        background-repeat: no-repeat;
                        background-size: 13px;
                        background-position: center;
                    }
                    .vegetarian-icon {
                        background-image: image('/images/veggie.png');
                    }

                    .glutenFree-icon {
                        background-image: image('/images/nuts.png');
                    }
                    dd { /* text for icon */
                        font-family:@font-swatch5-font-family;
                        font-size:@font-swatch5-font-size;
                        font-weight: @font-swatch5-font-weight;
                        line-height:@font-swatch5-line-height;
                        color: @font-swatch5-color;
                        letter-spacing: @font-swatch5-letter-spacing;
                        margin: 0 5px -7px;
                    } /* end dd */
                 

                } /* end dl */

        } /* end menu-info */

    } /* end main */

} /* end .widget.menu */


/* ===============================
  FOOTER
   =============================== */

footer {
  padding: 2em 0;
  min-height: 150px;
  background-color: @color-swatch2;
  margin-top: 2em;
}

footer p {
  color: @color-swatch1;
}


footer .widget.content {
  width: 100%;
  padding-top: 10px;
}



